-f https://download.pytorch.org/whl/torch_stable.html
autopep8==1.5.5
click==7.1.2
dataclasses==0.6
Flask==1.1.2
future==0.18.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.20.1
opencv-python==4.5.1.48
Pillow==8.1.0
pycodestyle==2.6.0
toml==0.10.2
torch==1.8.1+cpu
torchvision==0.9.1+cpu
typing-extensions==3.7.4.3
Werkzeug==1.0.1
